a.title:hover {
  color: #37474f;
  text-decoration:underline
}

a.title{
  color: #000!important;
  font-weight:bold;
  text-decoration:none; 
}

.icon-image {
  width: 42px!important;
  height: 42px!important;
  margin-top: 10px;
}

.hidden {
  display: none!important;
}